output {
  elasticsearch { 
    hosts => {{ elasticsearch_backend_logstash  }}
    manage_template => false
    index => "%{[@metadata][beat]}-%{+YYYY.MM.dd}"
    document_type => "%{[@metadata][type]}"
  }
}